Source: menu-uvt
Section: misc
Priority: optional
Maintainer: Raviyanto Ahmad <raviyanto@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/UVT/menu-uvt
Vcs-Git: git://github.com/UVT/menu-uvt.git  
Vcs-Browser: https://github.com/UVT/menu-uvt.git

Package: menu-uvt
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UVT menu categories for applications under GNOME and KDE
 This package installs desktop menus for grouping UVT applications on
 GNOME, KDE and other XDG menu-spec compliant desktop environments.
